@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@200&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 45%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    float: left;
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.historico-container {
    max-width: 600px;
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 90px;
    margin-top: 50px;
    padding-left: 10px;
}

p::before {
    content: attr(data-label) ": ";
    font-weight: bold;
}

p {
    margin: 0;
    padding: 4px;
}

.historico-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
}

.lista-corridas {
    list-style: none;
    padding: 2px;
}

.corrida {
    border: 1px solid #ececec;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.corrida-info {
    margin-bottom: 10px;
}

.ver-detalhes {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.ver-detalhes:hover {
    background-color: #0056b3;
}


.clearfix {
    clear: both;
}
/* Adicione outras regras de estilo conforme necessÃ¡rio */


h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

.cpf,
.cep,
.tel {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

.apelido {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;

}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

input[type="number"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

.bairro,
.cidade {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

input[type="date"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}


button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

#pais,
#estado {
    width: 43%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 15px;
}

label[for="pais"],
label[for="estado"] {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.fidelidade-container {
    max-width: 600px;
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 90px;
    margin-top: 20px;
    padding-left: 10px;
    clear: right; /* Adicione esta propriedade */
}

h1 {
    color: #333;
}

p {
    color: #000000;
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    color: #333;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
