#carousel {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  flex: 0 0 100%;
  max-width: 100%;
  transition: transform 0.5s ease;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #11d8be;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

#meuPrevButton {
  left: 10px;
}

#meuNextButton {
  right: 10px;
}

.carousel-button:hover {
  background-color: #fff;
  color: #11d8be;
}

@media (max-width: 940px) {
  .carousel-slide img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-button {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 640px) {
  .carousel-slide img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-button {
    font-size: 14px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 490px) {
  .carousel-container {
    display: none; 
    height: 0;
  }

  #carousel {
    height: 0;
  }
  
  .carousel-button {
    display: none; 
  }
}


