/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@200&display=swap');

/* Estilos globais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}



/* Estilos para o contêiner principal */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(45, 44, 45, 0.432);
    border: solid #4a4848b1 1px;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(45, 44, 45, 0.432);
    border: solid #4a4848b1 1px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
}

label {
    font-weight: bold;
}

.btn-success {
    color: #fff;
    background-color: #2831a7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-top: 20px;
}

.btn-success:hover {
    background-color: #1e248a;
}

.hidden {
    display: none;
}

/* Estilos para os botões de rádio */
input[type="radio"] {
    display: none; /* Esconde os botões de rádio nativos */
}

label.radio-label {
    display: inline-block;
    position: relative;
    padding-left: 30px; /* Espaço à esquerda do botão de rádio */
    margin-right: 15px; /* Espaço entre os botões de rádio */
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

label.radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px; /* Ajuste a posição vertical conforme necessário */
    width: 20px;
    height: 20px;
    border: 2px solid #0070c9; /* Cor da borda quando não selecionado */
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

input[type="radio"]:checked + label.radio-label::before {
    background-color: #0070c9; /* Cor de fundo quando selecionado */
    border-color: #0070c9; /* Cor da borda quando selecionado */
}

/* Estilos para a seção de pagamento */
.payment-container {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Aumentando a largura */
    margin: 0 auto; /* Centralizando horizontalmente */
    text-align: center;
    margin-top: 50px; /* Distância do topo */
    margin-bottom: 50px; /* Distância do final */
}

.payment-container img {
    max-width: 170px;
    margin: 20px 0;
}

.payment-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para os containers de opção de pagamento */
.payment-option {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    transition: border-color 0.3s;
}

.payment-option:hover {
    border-color: #0070c9;
    cursor: pointer;
}

/* Estilos para os botões de rádio nas opções de pagamento */
.payment-option input[type="radio"] {
    display: none;
}

.payment-option label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.payment-option label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: border-color 0.3s;
}

input[type="radio"]:checked + label::before {
    border-color: #0070c9;
    background-color: #0070c9;
}

/* Estilos para o botão "Concluir Pagamento" */
.btn-pagamento {
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-pagamento:hover {
    background-color: #005db9;
}

/* Estilos para as informações de bandeiras e descontos */
#pixForm .texto-pagamentos,
#cartaoCreditoForm .texto-pagamentos,
#cartaoDebitoForm .texto-pagamentos {
    font-size: 8px;
    margin-top: 10px;
    color: #777;
}
